@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


body {
  font-family: "Poppins", sans-serif;
}


.jumbotron {
  height: 300px;
  color: black;
  background-color: #2cbbd8;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  /* flex-direction: column; */
  justify-content: center;
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
}